<table class="table table-model-2 table-hover">

    {% autoescape false %}
        {{ table_thead(view) }}
    {% endautoescape %}

    {% autoescape false %}
        {{ table_tbody(view) }}
    {% endautoescape %}


</table>